p {
    color: #222222;
    text-decoration: none;
    text-align: justify;
    /* left, center, right, justify */

    line-height: 1.7rem;
    /* 1rem = 1 * 16px */
    font-size: 16px;

    font-weight: bolder;
    /* bold,bolder,normal,lighter,100-900 */
    font-style: italic;
    /* italic, normal */

    font-family: 'segoe ui','微軟正黑體';
    /* arial, verdana, tahoma, helvetica, georgia, sagoe ui, gill sans mt */
}
a {
    text-decoration: none;
}