@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Noto+Sans+TC:wght@100;400;900&display=swap');

body {
    font-family: 'lato','noto sans tc';
    background-color: #ff8762;
    background-image: url('https://picsum.photos/id/22/1600/1000');
    background-repeat: no-repeat;
    /* repeat, no-repeat, repeat-x, repeat-y */

    background-position: center;
    /* top, bottom, left, right, center  以body為基準的對齊*/
    background-attachment: fixed;

    background-size: cover;
    background-blend-mode: soft-light;
    /* 
        screen      濾色(去黑留白)
        multiply    色彩增值(去白留黑)
        overlay     覆蓋
        darken      變暗
        lighten     變亮
        color       顏色
        luminosity  明度
        hue         色相
        soft-light  柔光
        hard-light  實光
        color-burn  加深顏色
        color-dodge 加亮顏色
        exclusion   排除
        difference  差異化
        Saturation  飽合度
    */
}
p {
    color: #b6dcff;
    text-decoration: none;
    text-align: justify;
    /* left, center, right, justify */

    line-height: 1.7rem;
    /* 1rem = 1 * 16px */
    font-size: 0;

    /* font-weight: bolder; */
    /* bold,bolder,normal,lighter,100-900 */
    /* font-style: italic; */
    /* italic, normal */

    /* font-family: 'lato','noto sans tc'; */
    /* arial, verdana, tahoma, helvetica, georgia, sagoe ui, gill sans mt */
}
a {
    text-decoration: none;
}