@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Noto+Sans+TC:wght@100;400;900&display=swap');

body {
    font-family: 'lato','noto sans tc';
    background-color: #00498d;
    background-image: url('https://picsum.photos/id/22/1600/1000');
    background-repeat: no-repeat;
    /* repeat, no-repeat, repeat-x, repeat-y */

    background-position: center;
    /* top, bottom, left, right, center  以body為基準的對齊*/
    background-attachment: fixed;

    background-size: cover;
}
p {
    color: #b6dcff;
    text-decoration: none;
    text-align: justify;
    /* left, center, right, justify */

    line-height: 1.7rem;
    /* 1rem = 1 * 16px */
    font-size: 16px;

    /* font-weight: bolder; */
    /* bold,bolder,normal,lighter,100-900 */
    /* font-style: italic; */
    /* italic, normal */

    /* font-family: 'lato','noto sans tc'; */
    /* arial, verdana, tahoma, helvetica, georgia, sagoe ui, gill sans mt */
}
a {
    text-decoration: none;
}