@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat','微軟正黑體';
    scroll-behavior: smooth;
}
section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    width: 100%;
    height: 60px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
}
/* 後代選取器 */
nav a {
    text-decoration: none;
    color: #222;
}
.logo {
    font-size: 2rem;
    font-weight: 800;
    margin-right: 60px;
    margin-left: 60px;
}
.nav-link {
    margin-left: 15px;
    margin-right: 15px;
}
.nav-menu:nth-of-type(1) .nav-link{
    font-weight: 600;
}

#model-s {
    background-image: url('images/model-s.jpg');
}

#model-x {
    background-image: url('images/model-x.jpg');
}
#model-y {
    background-image: url('images/model-y.jpg');
}
#model-3 {
    background-image: url('images/model-3.jpg');
}
#power {
    background-image: url('images/power.jpg');
}
#accessories {
    background-image: url('images/accessories.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    text-align: center;
}
/* 
    當flex的方向為column時，jutify-content會變垂直對其，align-items會變水平對其
*/
.top {
    margin-top: 150px;
}
.bottom {
    margin-bottom: 150px;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-weight: 600;
}
.top a {
    font-size: .9rem;
    color: #000;
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 100px;
    font-size: .9rem;
    border-radius: 50px;
    margin: 0 15px;
}
.btn-dark {
    color: #f0f0f0;
    background-color: #222222;
    transition: 300ms;
}
.btn-dark:hover {
    color: #222222;
    background-color: #f0f0f0;
}
.btn-light {
    color: #222222;
    background-color: #f0f0f0;
}
.btn-red {
    background-color: #d73b3b;
    color: #fff;
}
.reserve {
    margin-top: 30px;
    font-size: 0.9rem;
}
.reserve a {
    color: #000;
}
footer {
    color: #1c1c1c;
    font-size: 0.9rem;
    text-align: center;
    padding: 20px 0;
}
footer span {
    margin: 0 6px;
}
footer a {
    color: #1c1c1c;
    font-size: 0.9rem;
    text-decoration: none;
    margin: 0 6px;
}