@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat','微軟正黑體';
}
section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    width: 100%;
    height: 60px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
}
/* 後代選取器 */
nav a {
    text-decoration: none;
    color: #222;
}
.logo {
    font-size: 2rem;
    font-weight: 800;
    margin-right: 60px;
    margin-left: 60px;
}
.nav-link {
    margin-left: 15px;
    margin-right: 15px;
}
.nav-menu:nth-of-type(1) .nav-link{
    font-weight: 600;
}

#model-s {
    background-image: url('images/model-s.jpg');
}
#model-x {
    background-image: url('images/model-x.jpg');
}
#model-y {
    background-image: url('images/model-y.jpg');
}
#model-3 {
    background-image: url('images/model-3.jpg');
}
#power {
    background-image: url('images/power.jpg');
}
#accessories {
    background-image: url('images/accessories.jpg');
}